<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Images</title>
</head>

<body>
    <h1> Images uploader </h1>

    <h2> Upload your image here:</h2>
    <form method="post" action="/users/{{uid}}/documents" enctype="multipart/form-data">

        <label for="_image"> Imagen </label>
        <input type="file" name="image" id="_image">

        <input type="submit" value="Subir documento">

    </form>
</body>

</html>